<style>
    .navvy {
        font-family: Arial, Helvetica, sans-serif;
        background-image: linear-gradient(to top, #daeffd , rgb(135, 135, 255));
    }
</style>
<nav class="navbar navbar-expand-lg navvy py-1 fs-5">
    <div class="container-fluid ">
    <a class="navbar-brand" href="/#">
        <img src="static/jobec.png" width="76px" height="74px" style="object-fit:fill;" alt="JOBec">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/#">Home</a>
        <a class="nav-link" href="/apply">Apply</a>
        <a class="nav-link" href="/post">Post</a>
        </div>
    </div>
    </div>
</nav>